# Byte-code files
*.pyc
__pycache__/

# Virtual environment
.venv/
env/
venv/
media/

# Environment variables
.env
.env.*
instance/

# Database files
*.db
*.sqlite3

# Editor/IDE specific files
.vscode/
.idea/

# Logs
*.log