version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: ./app/Dockerfile
    container_name: friends-app
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./media:/app/media
    restart: always

  bot:
    build:
      context: .
      dockerfile: bot/Dockerfile
    container_name: friends-bot
    env_file:
      - .env
    depends_on:
      - app
    restart: always
